* {
    box-sizing: border-box;
}

/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

/*-- Estilos generales --*/
main {
    font-family: 'Abhaya Libre', serif;
    color: #3c3838;
    background-color: #f8e4b8bd;
}

/*-- Texto y encabezados --*/
p {
    font-size: 18px;
    margin: 20px;
}

.p-inicio {
    font-size: 18px;
    margin: 20px;
    text-align: center;
    background-color: #a0959540;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #3c3838;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.color {
    background-color: #f8e4b8;
    /* Color de fondo */
    color: #3c3838;
    /* Color del texto */
    padding: 20px;
    /* Espaciado dentro del recuadro */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Efecto de transición */
}

.color:hover {
    transform: translateY(-5px);
    /* Efecto de elevar el recuadro al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra más intensa al pasar el mouse */
}

/* -- Encabezados y titulos -- */
.sublime {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 7px;
    background-color: #3c3838;
    color: #ffe5ae;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    background-color: #3c3838;
    color: #ffe5ae;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4b474769 !important;
    /*important para sobreescribir el color de boostrap*/
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /*text-align: center -> solo funciona en elem de tipo bloque para alinear texto o elem en linea*/
    justify-content: center;
    /*centra los elem hijos de li horizontalmente dentro del ul*/
}

.navbar li {
    margin: 0 15px;

}

.navbar a {
    color: #f8e4b8;
    padding: 15px 20px;
}

.navbar .nav-link:hover {
    color: #a08c8c !important;
}

/*portada*/
header .portada {
    width: 30%;
}

.titulos {
    color: #3c3838;
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 5px;
    font-size: 28px;
}

footer p {
    font-size: 15px;
    text-decoration: none;
    margin: 0%;
    text-align: center;
    background-color: #3c3838;
    color: #a08c8c;
    padding: 10px;
}

footer .enlaces:hover {
    color: #e1d7d7 !important;
    text-decoration: none;
}

/* -- Enlaces y navegacion -- */
.enlaces {
    text-decoration: none;
    color: #8d7e7e;
}

.enlaces:hover {
    text-decoration: none;
    color: #3c3838;
}

/*.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    margin-top: 50px;
    background-color: #8d7e7e;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.instagram:hover {
    transform: scale(1.05);
}

.instagram-media {
    width: 70%;
    border-radius: 15px;
}*/

/*productos*/
.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Columnas flexibles */
    gap: 30px;
    /* Espaciado entre productos */
    max-width: 90%;
    margin: auto;
    padding: 40px 0;
}


/*contacto*/
.card {
    background-color: #f8e4b8 !important;
    border-radius: 8px;
}

button.btn {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #3c3838;
    border-color: #a08c8c;
    color: #ffe5ae;
}

button.btn:hover {
    background-color: #8d7e7e;
    border-color: #ffe5ae;
    color: #ffe5ae;
}

.btn-instagram {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border: none;
    transition: 0.3s;
}

.btn-instagram:hover {
    opacity: 0.8;
}

.btn-whatsapp {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    background-color: #25D366;
    border: none;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background-color: #1EBE5D;
}

.btn-ubicacion {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    background-color: #4285F4;
    border: none;
    transition: 0.3s;
}

.btn-ubicacion:hover {
    background-color: #3367D6;
}

/*sobre nosotros*/
.sobre-nosotros {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 25px;
}

.sobre-nosotros p {
    text-align: center;
    margin: 10%;
    background-color: rgba(252, 245, 234, 0.7);
    /* Un color pastel sutil */
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* -- Multimedia -- */
.videos {
    display: block;
    margin: 10%;
    border: 5px solid #3c3838;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Sombra para dar profundidad */
    width: 100%;
    /* Ajusta el video al 100% del ancho de su contenedor */
    max-width: 400px;
    height: 10%;
    /* Mantiene la proporción del video */
    opacity: 0.7;
    /* Opacidad por defecto, cuando no se toca */

}

.videos:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño del video */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* Sombra más intensa */
    opacity: 1;
    /* saca opacidad */
}

.imagenes {
    width: 50%;
    /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    border-radius: 10px;
    /* Bordes redondeados para un efecto más elegante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para dar profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave al hacer hover */
    object-fit: cover;
    /* Hace que la imagen se ajuste bien al contenedor */

}

.imagenes:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño de la imagen al hacer hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Sombra más fuerte para un efecto de resaltar */
}

/* estilos de mobile y tablet*/
@media (max-width: 990px) {
    .navbar-toggler-icon{
        background-color: #ffe5ae; /* Fondo del botón */
        border: none; /* Opcional: elimina el borde */
        border-radius: 4px; /* Opcional: redondea un poco las esquinas */
    }

    /*productos*/
    .productos-container {
        display: flex;
        flex-wrap: wrap;
    }

    .productos-container section {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Alinea verticalmente la imagen y el texto */
        margin-bottom: 20px;
        /* Espaciado entre las secciones */
    }

    .productos-container section img {
        max-width: 100%;
        /* Limita el tamaño de la imagen */
        margin-right: 10px;
        /* Espacio entre la imagen y el texto */
    }

    .productos-container section p {
        text-align: center;
    }

}