/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#2B2B2B;
    display: flex; /*hace que el menu este al lado del header*/
    justify-content: space-between; /*divide y da efecto del menu*/
    align-items: center;
}
header img{
    /*elijo unid. relativa porque quiero que sea mas chico
    Es recomendable en imagenes gestionarlo con %*/
    width: 30%; 
}
header nav ul{
    list-style: none;/*no vineta*/
    color: #E6E6DD;
    display: flex; /*contenido por ul*/
    gap: 15px;/*aplica espacio entre filas y columnas*/
    padding-right: 25px;
}
/*estilos de main*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .textos{
    text-align: center;
}
main .textos h1 span{
    display: block;
    color: #522528;
}
main .textos .boton{
    background-color: #2B2B2B;
    display: inline-block;/*que ocupe solo su ancho y el block hace que tenga propiedades de ancho y alto*/
    padding: 10px;
    color: #E6E6DD;
    border-top-left-radius: 30px;/*borde del boton*/
    border-bottom-left-radius: 30px;
    margin-top: 10px; /*para separar del texto*/
    box-shadow: 10px 5px 8px black;
}
main .imagen img{
    width: 50%;
    display: flex;
    filter: drop-shadow(10 px 10px 30px black);
}
/*Estilos del section*/
section{
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
section div{
    color: #E6E6DD;
    text-align: center;
}
section div img{
    width: 30%;
}