*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales*/
body{
    background-color: black;
}

/*estilos de mobile*/
header{
    display: flex;
    align-items: center;
}
header nav ul{
    color: aliceblue;
    list-style: none;
    display: flex; /*acomoda horizontalmente*/
    gap: 1rem;/*espacios entre elementos horizontalmente*/
}

/*estiloa de main*/
main{
    height: 80vh;/*VIEWPORT HEIGHT representa un % del alto de la ventana de la pagina*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,25%); /*repeat(cant, unid.medida)*/
    gap: 15px;
    padding: 1rem;
    align-content: center;/*alineado verticalmente*/
}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*ocupan la totalidad del bloque y no se desborden(deformen)
    se van a ir acomodando segun la pantalla*/
}

main .img-dos,main .img-cinco{ /*ESTA DECLARACION DE .IMG ES PARA APLICAR PROP. ESPECIFICAS PARA C/U */
    display: none;
}

/*estilos de footer*/
footer{
    color: aliceblue;
    text-align: center;/*como es solo texto, usar textalign
    si fueran */
}

/* estilos para tablet  */

@media screen and (min-width: 600px){
    header{
        justify-content: center;
    }
    main{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,40%);
        /*se podria usar el area*/
    }

    main .img-cuatro{
        /*no hace falta que declare denuevo a grid porque main ya esta declarado*/
        grid-column: span 2;/*span ocupa todo de algo, de columna o fila
        y sera 2 o +*/

    }
}

/* estilos de desktop */
@media screen and (min-width: 1024px){
    main{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,30%) 20%;
    }

    main .img-dos, main .img-cinco{
        display: block;
    }

    main .img-uno, main .img-tres{
        grid-row: span 2;
    }
    
    main .img-dos, main .img-cuatro{
        grid-column: span 1;
    }
    main .img-cinco{
        grid-column: span 3;
    }
}
